body {
      position: absolute;
      background-image: url("jeri.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }

        #art1 {
            background-color: rgb(19, 100, 230);
            padding: 20px;
            font-size: 18px;
            width: 50%;
            margin: 20px auto;
        }

        #art2 {
            background-color: rgb(19, 100, 230);
            padding: 20px;
            font-size: 18px;
            width: 50%;
            margin: 20px auto;
        }

        #art3 {
            background-color: rgb(19, 100, 230);
            padding: 20px;
            font-size: 18px;
            width: 50%;
            margin: 20px auto;
        }

        [id="ID"]{
            background-color: rgb(255, 255, 255);
        }

        article p:hover{
            background-color: aquamarine;
            color: black;
        }

        article p::before{
            content: "🔥"
        }

        div p {
            color: aliceblue;
        }

        div h3 {
            color: black;
        }

        div > p {
            color: black;
        }

        h1 + p {
            color: rgb(0, 0, 0);
         }

         h3 + p {
            color: rgb(0, 0, 0);
         }

         h1 ~ p {
             color: rgb(0, 0, 0);
        }

        h3 ~ p {
             color: rgb(0, 0, 0);
        }

        nav ul{
            left: 420px;
            padding: 5px;
            position: fixed;
            background-color: white;
            margin:20px;
            left: 420px;
            list-style: none;
        }

        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 5px;
        }

        span {
            color: black;
            padding: 5px;
            margin-right: 5px;
        }

        .inline {
            display: inline;
        }
